<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{jquery.js}"></script>
    <script th:src="@{deferedBusiness.js}"></script>
    <title>Title</title>
</head>
<body>
<h1>deferedComet技术</h1>

<div id="ajaxDiv">
    <div>
        苹果价格： <input type="text" id="apple">元
        <br/>
        香蕉价格： <input type="text" id="banana">元
        <br/>
        橘子价格： <input type="text" id="orange">元
        <br/>
        桃子价格： <input type="text" id="peach">元
        <br/>
    </div>
</div>
</body>
</html>